
.editor {
    -gray0: #64707A;
    -gray1: #3C434C;
    -gray2: #2E353E;
    -gray3: #202830;
    -fx-base: -gray3;
    -fx-font-family: "Inter Regular";
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 12px;
    -emphasize: rgba(69, 78, 95, 1);
    -fx-focus-color: derive(-emphasize, 40%);
    -fx-accent: #00B3FF;
    -fx-selection-bar: #00B3FF;
}

.combo-box {
    -fx-font-size: 10px;
    -fx-font-family: "Inter Bold";
}

.spinner {
    -fx-font-size: 10px;
    -fx-font-family: "Inter Bold";
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button,
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-padding: 0px 4px;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow,
.spinner .increment-arrow-button:hover .increment-arrow,
.spinner .decrement-arrow-button:hover .decrement-arrow,
.spinner .increment-arrow-button:pressed .increment-arrow,
.spinner .decrement-arrow-button:pressed .decrement-arrow {
    -fx-pref-width: 11px;
    -fx-pref-height: 10px;
    -fx-min-width: 11px;
    -fx-min-height: 10px;
    -fx-min-width: 11px;
    -fx-min-height: 10px;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom;
    -fx-padding: 0;
    -fx-pref-width: 11px;
    -fx-pref-height: 10px;
    -fx-shape: null;
    -fx-background-radius: 0px;
}

.spinner .increment-arrow-button .increment-arrow {
    -fx-background-image: url("icons/spinner_up.png");
    -fx-translate-y: 3px;
}

.spinner .increment-arrow-button:hover .increment-arrow {
    -fx-background-image: url("icons/spinner_up_hover.png");
}

.spinner .increment-arrow-button:pressed .increment-arrow {
    -fx-background-image: url("icons/spinner_up_selected.png");
}

.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-image: url("icons/spinner_down.png");
    -fx-translate-y: -3px;
}

.spinner .decrement-arrow-button:hover .decrement-arrow {
    -fx-background-image: url("icons/spinner_down_hover.png");
}

.spinner .decrement-arrow-button:pressed .decrement-arrow {
    -fx-background-image: url("icons/spinner_down_selected.png");
}

.label,
.button,
.toggle-button,
.check-box,
.combo-box {
}

.combo-box,
.combo-box .text-field,
.combo-box .arrow-button,
.color-picker,
.check-box .box {
    -fx-background-color: #3C434C;
}

.check-box {
    -fx-graphic-text-gap: 90px;
}

.check-box .box .mark {
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-shape: null;
    -fx-background-color: transparent;
    -fx-background-image: url("unchecked.png");
}

.check-box:selected .box .mark {
    -fx-background-image: url("checked.png");
}

.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box .text-field {
    -fx-text-fill: white;
}

.button,
.toggle-button {
    -fx-background-color: -gray0;
    -fx-background-radius: 3;
    -fx-padding: 10 15 10 15;
}

.button:hover,
.toggle-button:hover {
    -fx-background-color: derive(-gray0, 20%);
}

.button:hover,
.toggle-button:pressed {
    -fx-background-color: derive(-gray0, -20%);
}

.toggle-button:selected {
    -fx-background-color: derive(-gray0, -10%);
}

.master-detail-pane .split-pane {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.master-detail-pane .split-pane .split-pane-divider {
    -fx-pref-width: 1;
    -fx-pref-height: 1;
    -fx-background-color: #202830;
}

.spacer {
    -fx-background-color: #202830;
}

.video-background {
    -fx-padding: 20px;
    -fx-background-color: derive(-fx-base, -20%);
}

.editor-tool-bar {
    -fx-spacing: 0px;
    -fx-padding: 0px;
    -fx-background-color: -gray1;
}

.editor-tool-bar .toggle-button,
.editor-tool-bar .button {
    -fx-background-radius: 0px;
    -fx-background-color: transparent;
    -fx-max-height: infinity;
}

.editor-tool-bar .toggle-button:hover,
.editor-tool-bar .button:hover {
    -fx-background-color: #202830;
}

.editor-tool-bar .toggle-button:selected {
    -fx-background-color: #00B2FF;
}

.editor-tool-bar .timeline-box {
    -fx-spacing: 5px;
    -fx-alignment: center-right;
    -fx-fill-width: true;
    -fx-padding: 0px 10px 0px 10px;
    -fx-pref-width: 325px;
}

.editor-tool-bar .timeline-box .label {
    -fx-font-family: "Inter Bold";
}

.editor-tool-bar .timeline-box .seconds-label,
.editor-tool-bar .timeline-box .duration-label {
    -fx-font-size: 8px;
}

.editor-tool-bar .timeline-box .spinner {
    -fx-background-color: -gray3;
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
}

.editor-tool-bar .timeline-box .spinner .increment-arrow-button,
.editor-tool-bar .timeline-box .spinner .decrement-arrow-button {
    -fx-background-color: -gray3;
}

.editor-tool-bar .timeline-box .text-field {
    -fx-background-color: -gray3;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

.editor {
    -fx-background-color: -gray1;
}

.move {
    -fx-graphic: url("icons/icon_move.png");
}

.object-mover {
    -fx-graphic: url("icons/icon_objectmover.png");
}

.beam {
    -fx-graphic: url("icons/icon_spotlight.png");
}

.text {
    -fx-graphic: url("icons/icon_text.png");
}

.oval {
    -fx-graphic: url("icons/icon_oval.png");
}

.line {
    -fx-graphic: url("icons/icon_straightline.png");
}

.curved-line {
    -fx-graphic: url("icons/icon_curveline.png");
}

.pen-line {
    -fx-graphic: url("icons/icon_penline.png");
}

.rectangle {
    -fx-graphic: url("icons/icon_rectangle.png");
}

.polygon {
    -fx-graphic: url("icons/icon_polygon.png");
}

.eraser {
    -fx-graphic: url("icons/icon_eraser.png");
}

.help {
    -fx-graphic: url("icons/icon_help.png");
}

.status-bar .separator:vertical .line,
.toolbar-container .separator:vertical .line,
.tool-bar .separator:vertical .line {
    -fx-border-color: transparent transparent transparent #202830;
    -fx-border-width: 1;
    -fx-border-insets: -2 0 -2 0;
    -fx-pref-width: 1;
}

.toolbar-item {
    -fx-background-radius: 3;
    -fx-padding: 10 15 10 15;
    -fx-content-display: left;
}

.toolbar-icon {
    -fx-fill: white;
}

.status-bar {
    -fx-padding: 10 20 10 10;
    -fx-pref-height: 54px;
    -fx-background-color: derive(#3C434C, -10%);
}

.status-bar .right-items {
    -fx-spacing: 10;
}

.slider:disabled {
    -fx-opacity: 1;
}

.slider .track {
    -fx-background-color: -gray0 !important;
    -fx-background-radius: 0;
    -fx-pref-height: 4;
}

.slider .thumb {
    -fx-background-color: white;
}

.combo-box-popup > .list-view {
    -fx-background-color: #3C434C;
    -fx-background-radius: 6;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 5px 10px;
    -fx-background: transparent;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-text-fill: white;
    -fx-background-color: -gray2;
    -fx-background-insets: 0;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-text-fill: white;
    -fx-background-color: -fx-accent;
    -fx-background-insets: 0;
}

.combo-box-popup > .list-view > .placeholder > .label {
    -fx-text-fill: derive(-fx-control-inner-background, -30%);
}

.popover > .border {
    -fx-fill: -gray0 !important;
}

.popover > .content {
    -fx-padding: 5px;
}

.popover .icon {
    -fx-alignment: center-right;
    -fx-padding: 0 20 0 0;
}

.popover .text {
    -fx-fill: white;
    -fx-font-family: "Inter Bold";
}

.popover .text-field {
    -fx-background-color: #3C434C;
    -fx-text-fill: white;
}

.popover .spinner .text-field {
    -fx-background-color: #3C434C;
}

.popover .spinner .increment-arrow-button,
.popover .spinner .decrement-arrow-button {
    -fx-background-color: #3C434C;
}

.save-button {
    -fx-background-color: #77CC00;
    -fx-padding: 9 20 9 20;
    -fx-min-width: 76px;
    -fx-pref-height: 34;
}

.save-button:hover {
    -fx-background-color: #67C100;
}

/* ----------------------------------------------------------------------------
 * Pretty List View
 */

.list-view > .virtual-flow > .scroll-bar,
.list-view > .virtual-flow > .scroll-bar .decrement-arrow,
.list-view > .virtual-flow > .scroll-bar .increment-arrow,
.list-view > .virtual-flow > .scroll-bar .decrement-button,
.list-view > .virtual-flow > .scroll-bar .increment-button {
    -fx-pref-height: 0;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-insets: 0 2 0 0;
}

.list-view .scroll-bar:horizontal .thumb {
    -fx-background-insets: 0 0 2 0;
}

.list-view .scroll-bar .decrement-arrow,
.list-view .scroll-bar .increment-arrow {
    -fx-pref-height: 0;
}

.list-view .scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-padding: 2;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, .2);
    -fx-background-radius: 1000;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}

/* ----------------------------------------------------------------------------
 * Pretty ScrollPane
 */

.pretty-scroll-pane .scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-padding: 2;
}

.pretty-scroll-pane .scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, .2);
    -fx-background-radius: 1000;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}

.pretty-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-insets: 0 2 0 0;
}

.pretty-scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-insets: 0 0 2 0;
}

.pretty-scroll-pane .scroll-bar .increment-button,
.pretty-scroll-pane .scroll-bar .increment-arrow,
.pretty-scroll-pane .scroll-bar .decrement-button,
.pretty-scroll-pane .scroll-bar .decrement-arrow {
    -fx-pref-width: 0 !important;
    -fx-pref-height: 0 !important;
}

/* ----------------------------------------------------------------------------
 * ContextMenu
 */

.context-menu {
    -fx-background-radius: 6;
    -fx-background-color: -gray0;
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.083333em 0.333333em 0.083333em; /* 4 1 8 1 */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);
}

.context-menu .menu-item:focused .label,
.context-menu .menu-item:hover .label {
    -fx-text-fill: white;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: #8A939B transparent transparent transparent;
    -fx-border-insets: 1 0 0 0;
}

.context-menu .label {
    -fx-font-family: "Inter Bold";
}

.timeline-slider-box {
    -fx-padding: 15px;
    -fx-spacing: 10px;
    -fx-background-color: -gray3, -gray2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-alignment: center-left;
}

.timeline-slider-box .current-time-label {
    -fx-padding: 0px;
    -fx-font-size: 10px;
    -fx-font-family: "Inter Bold";
    -fx-pref-width: 2em;
    -fx-alignment: center-right;
}

.timeline-slider-box > .slider > .thumb {
    -fx-background-radius: 0px;
    -fx-pref-width: 3px;
}

.timeline-slider-box > .slider > .track {
    -fx-background-color: -gray1;
}

.timeline-slider-box .toggle-button {
    -fx-background-color: transparent;
    -fx-padding: 0px 10px 0px 0px;
    -fx-graphic: url("icons/icon_play.png");
}

.timeline-slider-box .toggle-button:hover {
    -fx-graphic: url("icons/icon_play_hover.png");
}

.timeline-slider-box .toggle-button:selected {
    -fx-graphic: url("icons/icon_stop.png");
}

.timeline-slider-box .toggle-button:selected:hover {
    -fx-graphic: url("icons/icon_stop_hover.png");
}

.right-side {
    -fx-background-color: -gray1;
}

.graphics-details-view {
    -fx-background-color: -gray1;
}

.clipping-service-box {
    -fx-background-radius: 4px;
    -fx-background-color: rgba(255, 255, 255, .6);
    -fx-border-color: -fx-accent;
    -fx-border-radius: 4px;
}

.clipping-service-box .progress-indicator {
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
}

.graphics-area-wrapper {
    -fx-background-color: -gray3;
    -fx-padding: 0px 20px 20px 20px;
}

.editor:player .graphics-area-wrapper {
    -fx-padding: 0px 0px;
}

.button-box {
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-background-color: -gray2;
    -fx-spacing: 10px;
}

.custom-button {
    -fx-padding: 0 35;
    -fx-min-width: 76px;
    -fx-pref-height: 35px;
    -fx-font-family: "Inter Bold";
    -fx-font-size: 10px;
}

.blue-button {
    -fx-background-color: #0073D9;
}

.blue-button:hover {
    -fx-background-color: derive(#0073D9, +20%);
}

.green-button {
    -fx-background-color: #77CC00;
}

.green-button:hover {
    -fx-background-color: derive(#77CC00, +20%);
}

.graphic {
}

.graphic.text:left .text {
    -fx-text-alignment: left;
}

.graphic.text:center .text {
    -fx-text-alignment: center;
}

.graphic.text:right .text {
    -fx-text-alignment: right;
}

.graphic.text .text-flow-wrapper {
    -fx-padding: 0px 10px;
}

.graphic.text .text-flow-wrapper .text-flow {
}

.graphic.text .text-area,
.graphic.text .text-area .scroll-pane,
.graphic.text .text-area .viewport,
.graphic.text .text-area .content {
    -fx-background-color: transparent;
}

.image-view-wrapper {
}

.menu-bar {
    -fx-background-color: -gray3;
}

.settings-tool-bar-pane {
    -fx-background-color: -gray3;
}

.settings-tool-bar {
    -fx-max-height: infinity;
    -fx-padding: 10px;
    -fx-spacing: 20px;
    -fx-alignment: center-left;
    -fx-background-color: -gray3;
}

.settings-tool-bar .slider {
    -fx-pref-width: 100px;
}

.settings-tool-bar .combo-box {
    -fx-pref-height: 30px;
}

.settings-tool-bar .button {
    -fx-pref-height: 30px;
    -fx-padding: 0px 10px;
    -fx-pref-height: 30px;
    -fx-background-color: -gray1;
}

.settings-tool-bar .menu-button {
    -fx-pref-height: 30px;
    -fx-padding: 0px 10px;
    -fx-pref-height: 30px;
    -fx-background-color: -gray1;
}

.settings-tool-bar .menu-button .label {
    -fx-font-size: 10px;
    -fx-font-family: "Inter Regular";
}

.settings-tool-bar .spinner {
    -fx-background-color: -gray1;
    -fx-background-insets: 0px;
    -fx-background-radius: 3px;
    -fx-max-height: infinity;
}

.settings-tool-bar .spinner:focused {
    -fx-background-insets: 0px;
}

.settings-tool-bar .spinner .text-field {
    -fx-background-color: -gray1;
    -fx-text-fill: white;
}

.settings-tool-bar .spinner .increment-arrow-button,
.settings-tool-bar .spinner .decrement-arrow-button {
    -fx-background-color: -gray1;
}

.settings-tool-bar .spinner .increment-arrow-button .increment-arrow,
.settings-tool-bar .spinner .decrement-arrow-button .decrement-arrow {
}

.settings-tool-bar .spinner .increment-arrow-button:pressed .increment-arrow,
.settings-tool-bar .spinner .decrement-arrow-button:pressed .decrement-arrow {
}

.settings-tool-bar .presets-button > .label {
    -fx-padding: 0px 35px 0px 8px;
    -fx-font-family: "Inter Bold";
    -fx-font-size: 10px;
}

.settings-tool-bar .presets-button .context-menu .separator:horizontal .line {
    -fx-border-color: #8A939B transparent transparent transparent;
    -fx-border-insets: 1 0 0 0;
}

.settings-tool-bar .presets-button .menu .label {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 10px;
    -fx-padding: 5px 15px 5px 20px;
}

.preset-view {
    -fx-text-graphic-gap: 10px;
    -fx-alignment: center-left;
    -fx-padding: 2px 5px;
    -fx-spacing: 5px;
}

.preset-view .region {
    -fx-pref-height: 15px;
    -fx-pref-width: 110px;
}

.preset-view .number-label {
    -fx-font-family: "Inter Bold" !important;
    -fx-text-fill: white;
    -fx-padding: 0px 5px 0px 15px;
    -fx-min-width: 30px;
    -fx-max-width: 30px;
}

.preset-view .content {
}

.preset-view.beam-preset-view .beam-box {
    -fx-spacing: 5px;
}

.preset-view.beam-preset-view .beam-box .wrapper {
    -fx-max-width: 24px;
    -fx-min-width: 24px;
}

.preset-view.beam-preset-view .beam-box .image-view.spotlight {
    -fx-image: url("icons/icon_spotlight.png");
}

.preset-view.beam-preset-view .beam-box .image-view.beam {
    -fx-image: url("icons/icon_beam_16px.png");
}

.preset-view.beam-preset-view .beam-box .image-view.highlight {
    -fx-image: url("icons/icon_highlight_16px.png");
}

.preset-view.text-preset-view {
}

.preset-view.text-preset-view .arrow {
    -fx-translate-y: 3px;
    -fx-translate-x: 4px;
}

.preset-view.text-preset-view .content {
    -fx-max-height: 21px;
}

.preset-view.text-preset-view .font-box {
    -fx-padding: 3px;
}

.preset-view.text-preset-view .font-family-label {
    -fx-padding: 0px 5px;
}

.preset-view.text-preset-view .font-size-label {
    -fx-padding: 4px 4px;
    -fx-background-color: rgba(46, 51, 59, .35);
    -fx-background-radius: 1.5px;
    -fx-text-fill: white;
    -fx-font-size: 8px;
    -fx-min-width: 19px;
    -fx-min-height: 17px;
}

.preset-view.shape-preset-view .region {
    -fx-min-width: 80px;
    -fx-max-width: 80px;
    -fx-pref-width: 80px;
    -fx-pref-height: 15px;
}

.settings-tool-bar .label {
    -fx-font-family: "Inter Bold";
    -fx-text-fill: white;
    -fx-font-size: 8px;
}

.settings-tool-bar .color-picker {
    -fx-arc-width: 6px;
    -fx-arc-height: 6px;
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-color-label-visible: false;
    -fx-color-rect-width: 20px;
    -fx-color-rect-height: 20px;
}

.settings-tool-bar .color-picker:selected {
    -fx-background-color: blue;
}

.settings-tool-bar .color-picker .picker-color-rect {
    -fx-stroke: rgba(0, 0, 0, .2);
    -fx-arc-width: 4px;
    -fx-arc-height: 4px;
    -fx-stroke-width: 2px;
}

.settings-tool-bar .color-picker .picker-color-rect:hover {
    -fx-stroke: -fx-accent;
}

.settings-tool-bar .color-picker .color-picker-label {
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.settings-tool-bar .labeled-box {
    -fx-spacing: 5px;
}

.settings-tool-bar .toggle-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-border-color: rgba(255, 255, 255, .1);
    -fx-border-width: 1px;
    -fx-border-insets: 0px;
    -fx-border-radius: 3px;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-padding: 0px;
}

.settings-tool-bar .toggle-button:hover {
    -fx-background-color: #3C434C;
    -fx-border-color: transparent;
}

.settings-tool-bar .toggle-button:selected {
    -fx-background-color: -fx-accent;
}

.settings-tool-bar .opacity-spinner {
    -fx-pref-width: 70px;
}

.text-settings-tool-bar {
}

.text-settings-tool-bar .check-box {
    -fx-border-width: 0px;
}

.text-settings-tool-bar .check-box .box {
    -fx-padding: 0px;
    -fx-background-color: -gray1;
}

.text-settings-tool-bar .check-box .mark {
    -fx-background-image: null;
}

.text-settings-tool-bar .toggle-button.align-left {
    -fx-graphic: url("icons/icon_alignleft_16px.png")
}

.text-settings-tool-bar .toggle-button.align-center {
    -fx-graphic: url("icons/icon_aligncenter_16px.png")
}

.text-settings-tool-bar .toggle-button.align-right {
    -fx-graphic: url("icons/icon_alignright_16px.png")
}

.text-settings-tool-bar .toggle-button.bold {
    -fx-graphic: url("icons/icon_bold_16px.png")
}

.text-settings-tool-bar .toggle-button.italic {
    -fx-graphic: url("icons/icon_italic_16px.png")
}

.text-settings-tool-bar .style-box,
.text-settings-tool-bar .alignment-box {
    -fx-spacing: 5px;
}

.text-settings-tool-bar .font-size-spinner {
    -fx-pref-width: 70px;
}

.beam-settings-tool-bar .beam-type-box {
    -fx-spacing: 5px;
}

.beam-settings-tool-bar .toggle-button.spotlight {
    -fx-graphic: url("icons/icon_spotlight_16px.png");
}

.beam-settings-tool-bar .toggle-button.beam {
    -fx-graphic: url("icons/icon_beam_16px.png");
}

.beam-settings-tool-bar .toggle-button.highlight {
    -fx-graphic: url("icons/icon_highlight_16px.png");
}

.shape-settings-tool-bar .stroke-weight-spinner {
    -fx-pref-width: 70px;
}

.polygon-settings-tool-bar .sides-spinner {
    -fx-pref-width: 70px;
}

.clip-settings-tool-bar .manual {
    -fx-graphic: url("icons/icon_clipping_manual.png");
}

.clip-settings-tool-bar .automatic {
    -fx-graphic: url("icons/icon_objectmover.png");
}

.clip-settings-tool-bar .clip-type-box {
    -fx-spacing: 5px;
}

.line-settings-tool-bar .shadow-and-gradient-box {
    -fx-padding: 0px 0px 0px 10px;
    -fx-spacing: 5px;
}

.line-settings-tool-bar .line-type-box,
.line-settings-tool-bar .line-smoothing-box {
    -fx-spacing: 5px;
}

.line-settings-tool-bar .line-end-type-box {
    -fx-min-width: 90px;
}

.line-settings-tool-bar .line-type-box .line-style-combo-box {
    -fx-min-width: 100px;
}

.line-settings-tool-bar .line-type-box .line-style-combo-box .line-style-cell {
}

.line-settings-tool-bar .line-type-box .line-style-combo-box .line-style-cell.simple {
    -fx-graphic: url("icons/icon_line_solid.png");
}

.line-settings-tool-bar .line-type-box .line-style-combo-box .line-style-cell.dashed {
    -fx-graphic: url("icons/icon_line_dashed.png");
}

.line-settings-tool-bar .line-type-box .line-style-combo-box .line-style-cell.wave {
    -fx-graphic: url("icons/icon_line_wave.png");
}

.line-settings-tool-bar .line-type-box .line-style-combo-box .line-style-cell.zigzag {
    -fx-graphic: url("icons/icon_line_zigzag.png");
}

.line-settings-tool-bar .line-type-box .toggle-button.shadow-button {
    -fx-graphic: url("icons/icon_shadow.png");
}

.line-settings-tool-bar .line-type-box .toggle-button.gradient-button {
    -fx-graphic: url("icons/icon_gradient.png");
}

.line-settings-tool-bar .line-weight-spinner {
    -fx-pref-width: 70px;
}

.pen-line-settings-tool-bar .smooth-line {
    -fx-graphic: url("icons/icon_line_smooth.png");
}

.mover-settings-tool-bar .label,
.eraser-settings-tool-bar .label {
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-font-size: 12px;
}

.drag-handle {
    -fx-background-radius: 1000px;
    -fx-background-color: white;
}

.drag-handle.secondary {
    -fx-background-color: red;
}

.drag-handle.third {
    -fx-background-color: green;
}

.drag-handle .border-circle {
    -fx-stroke: black;
}

.handle-line {
    -fx-stroke: white;
    -fx-stroke-width: 2px;
    -fx-opacity: .5;
}

.handle-arc {
    -fx-fill: transparent;
    -fx-stroke: white;
    -fx-stroke-width: 2px;
    -fx-opacity: .5;
}

.graphic-list-view {
    -fx-padding: 0px;
    -fx-background-color: -gray1;
    -fx-background-insets: 0px;
    -fx-pref-width: 325px;
}

.graphic-list-view:focused {
    -fx-padding: 0px;
}

.graphic-list-view .placeholder-label {
    -fx-padding: 40px 0px;
    -fx-text-alignment: center;
    -fx-font-family: "Inter Bold";
    -fx-font-size: 12px;
}

.graphic-cell {
    -fx-padding: 0px 0px 0px 0px;
    -fx-background-color: -gray3, -gray2;
    -fx-background-insets: 0, 0 0 1 0;
}

.graphic-cell.drop-above {
    -fx-background-color: white, -gray3, -gray1;
    -fx-background-insets: 0, 2 0 0 0, 2 0 1 0;
}

.graphic-cell.drop-below {
    -fx-background-color: white, -gray1;
    -fx-background-insets: 0, 0 0 2 0;
}

.graphic-cell:empty {
    -fx-background-insets: 0, 0;
    -fx-background-color: -gray1;
}

.graphic-cell .icon-label {
    -size: 35px; /* needed because icons are slightly different in size */
    -fx-pref-width: -size;
    -fx-max-width: -size;
    -fx-min-width: -size;
    -fx-padding: 10px;
    -fx-background-color: -gray3, -gray1;
    -fx-background-insets: 0, 0px 0px 1px 0px;
}

.graphic-cell .icon-label:hover {
    -fx-background-color: #202830;
}

.graphic-cell.drop-above .icon-label {
    -fx-background-color: white, -gray3, -gray1;
    -fx-background-insets: 0px, 2px 0px 0px 0px, 2px 0px 2px 0px;
}

.graphic-cell.drop-below .icon-label {
    -fx-background-color: white, -gray1;
    -fx-background-insets: 0px, 0px 0px 2px 0px;
}

.graphic-cell:selected .icon-label {
    -fx-background-color: #00B3FF;
}

.entry-timeline-editor {
    -fx-padding: 5px 5px;
    -fx-pref-height: 20px;
}

.entry-timeline-editor .main-bar {
}

.graphic-cell:selected .main-bar {
    -fx-border-color: white;
    -fx-border-radius: 3px;
    -fx-border-width: 2px;
    -fx-border-insets: 0;
}

.graphic-cell:selected .entry-timeline-editor {
    -fx-background-color: #17749F;
}

.entry-timeline-editor .in-bar,
.entry-timeline-editor .out-bar {
    -fx-background-color: rgba(0, 0, 0, .1);
}

.entry-timeline-editor .in-bar {
    -fx-border-color: rgba(0, 0, 0, .2);
    -fx-border-width: 0px 1px 0px 1px;
    -fx-border-radius: 3px 0px 0px 3px;
    -fx-background-radius: 3px 0px 0px 3px;
    -fx-cursor: e-resize;
}

.entry-timeline-editor .out-bar {
    -fx-border-color: rgba(0, 0, 0, .2);
    -fx-border-width: 0px 1px 0px 1px;
    -fx-border-radius: 0px 3px 3px 0px;
    -fx-background-radius: 0px 3px 3px 0px;
    -fx-cursor: w-resize;
}

.entry-timeline-editor .handle {
    -fx-pref-width: 2px;
    -fx-background-color: white;
    -fx-background-insets: 1px 0px;
    -fx-background-radius: 4px;
    -fx-opacity: 0;
}

.entry-timeline-editor:hover .handle {
    -fx-opacity: 1;
}

.entry-timeline-editor .handle.in {
    -fx-cursor: e-resize;
}

.entry-timeline-editor .handle.out {
    -fx-cursor: w-resize;
}

.entry-timeline-editor .cursor {
    -fx-background-color: white;
    -fx-pref-width: 1px;
}

.lasso-rectangle {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
    -fx-opacity: .3;
}

.clip-image-wrapper {
}

.clip-image-wrapper .glass-pane {
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-border-style: dotted;
}

.bar-tool-tip {
    -fx-padding: 0px;
    -fx-background-color: -gray0;
    -fx-background-radius: 3px;
    -fx-effect: null;
}

.bar-tool-tip .box {
    -fx-padding: 5px 8px;
    -fx-spacing: 10px;
    -fx-fill-height: true;
    -fx-alignment: center-left;
}

.bar-tool-tip .box .tool-label {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 10px;
}

.bar-tool-tip .box .shortcut-label {
    -fx-font-size: 10px;
}

.clip-path,
.clipping-path {
    -fx-stroke: rgba(255, 255, 0, .7);
    -fx-stroke-dash-array: 4 4;
    -fx-fill: transparent;
}

.clip-path:hover {
    -fx-fill: rgba(255, 255, 255, .3);
}

/* ----------------------------------------------------------------------------
 * HelpPane
 */
.help-pane {
    -fx-min-width: 410px;
    -fx-background-color: -gray1;
    -fx-padding: 0px 0px 0px 0px;
}

.help-pane .close-button {
    -fx-graphic: url("icons/icon_close_dialog.png") !important;
    -fx-background-color: transparent;
}

.help-pane .close-button:hover {
    -fx-background-color: rgba(100, 112, 122, 0.4);
}

.help-pane .close-button:pressed {
    -fx-background-color: rgba(100, 112, 122, 0.1);
}

.help-pane .close-button .ikonli-font-icon {
    -fx-icon-color: -fx-text-background-color;
}

.help-pane .inner-box {
    -fx-padding: 30px 50px;
    -fx-spacing: 10px;
}

.help-pane .inner-box .shortcut-label {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 12px;
    -fx-graphic-text-gap: 15px;
    -fx-padding: 5px 0px;
}

.help-pane .inner-box .shortcut-box {
    -fx-spacing: 5px;
}

.help-pane .inner-box .key {
    -fx-alignment: center;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-padding: 5px;
    -fx-border-radius: 3px;
    -fx-border-color: #8A939B;
    -fx-font-family: "Inter Bold";
    -fx-font-size: 10px;
}

.help-pane .inner-box .key.ctrl,
.help-pane .inner-box .key.shift,
.help-pane .inner-box .key.backspace,
.help-pane .inner-box .key.space {
    -fx-padding: 5px 10px;
}

.help-pane .inner-box .title {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 20px;
    -fx-padding: 0px 0px 30px 0px;
}

.help-pane .header {
    -fx-padding: 20px 35px 20px 50px;
    -fx-background-color: -gray2;
}

.help-pane .header .label {
    -fx-font-size: 20px;
    -fx-font-family: "Inter Bold";
}

.help-pane .header .learn-more-button {
    -fx-padding: 0px 15px;
}

.help-pane .footer {
    -fx-background-color: rgba(100, 112, 122, 0.2);
    -fx-padding: 10px;
}

/* ----------------------------------------------------------------------------
 * SettingsPane
 */
.settings-pane {
    -fx-min-width: 360px;
    -fx-background-color: -gray1;
    -fx-padding: 10px 0px 0px 0px;
}

.settings-pane .inner-box {
    -fx-padding: 30px 50px;
    -fx-spacing: 5px;
}

.settings-pane .inner-box .header .close-button {
    -fx-graphic: url("icons/icon_close_dialog.png") !important;
    -fx-background-color: transparent;
    -fx-translate-x: 40px;
    -fx-translate-y: -30px;
}

.settings-pane .inner-box .header .close-button:hover {
    -fx-background-color: rgba(100, 112, 122, 0.4);
}

.settings-pane .inner-box .header .close-button:pressed {
    -fx-background-color: rgba(100, 112, 122, 0.1);
}

.settings-pane .inner-box .header .close-button .ikonli-font-icon {
    -fx-icon-color: -fx-text-background-color;
}

.settings-pane .inner-box .separator {
    -fx-padding: 15px 0px;
}

.settings-pane .inner-box .title {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 20px;
    -fx-padding: 0px 0px 30px 0px;
}

.settings-pane .inner-box .section-title {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 14px;
    -fx-padding: 0px 0px 10px 0px;
}

.settings-pane .inner-box .setting-check-box {
    -fx-graphic-text-gap: 15px;
    -fx-padding: 5px 0px;
}

.settings-pane .inner-box .setting-check-box .text {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 10px;
}

.settings-pane .inner-box .seconds-label {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 8px;
}

.settings-pane .inner-box .setting-box {
    -fx-spacing: 5px;
}

.settings-pane .inner-box .setting-box .spinner {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 10px;
    -fx-background-color: -gray3;
    -fx-background-insets: 0px;
    -fx-background-radius: 3px;
    -fx-pref-height: 30px;
    -fx-pref-width: 60px;
    -fx-padding: 0px;
}

.settings-pane .inner-box .setting-box .spinner:focused {
    -fx-background-insets: 0px;
}

.settings-pane .inner-box .setting-box .spinner .text-field {
    -fx-background-color: -gray3;
    -fx-text-fill: white;
}

.settings-pane .inner-box .setting-box .spinner .increment-arrow-button,
.settings-pane .inner-box .setting-box .spinner .decrement-arrow-button {
    -fx-background-color: -gray3;
}

.settings-pane .inner-box .setting-box .spinner .increment-arrow-button .increment-arrow,
.settings-pane .inner-box .setting-box .spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: transparent;
}

.settings-pane .inner-box .setting-box .spinner .increment-arrow-button:pressed .increment-arrow,
.settings-pane .inner-box .setting-box .spinner .decrement-arrow-button:pressed .decrement-arrow {
    -fx-background-color: -fx-accent;
}

.settings-pane .footer {
    -fx-background-color: rgba(100, 112, 122, 0.2);
    -fx-padding: 10px;
}

.settings-pane .separator:horizontal .line {
    -fx-border-color: #444C55 transparent transparent transparent;
    -fx-border-insets: 0;
}

/* ----------------------------------------------------------------------------
 * CircularProgressIndicator
 */

.circular-progress {
    -indicator-color: -fx-accent;
}

.circular-progress .indicator {
    -fx-stroke-type: centered;
    -fx-fill: null;
    -fx-stroke: -fx-accent;
}

/* ----------------------------------------------------------------------------
 * BusyIndicator
 */

.busy-indicator {
    -size: 40px;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-background-color: transparent;
}